.video-preview {
   
    height: 250px;
    width: 400px;

}

.thumb-nail {
    background-color: gray;
    width: 100%;
    height: 70%;
    border-radius: 15px;
}

.video-info{
    display: flex;
    gap: 4px;
}

.grid-container {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}