button {
    cursor: pointer;
    display: block;
}
 
 
 .side-bar {
     position: fixed;
     display: flex;
     flex-direction: column;
     width: 200px;
     top: 60px;
     height: 100vh;
     background-color: gainsboro;
     padding: 0px 5px;
 }

 body {
     padding: 0px;
     margin: 0px;
 }

 p {
     margin: 0px;
     padding: 0px;
 }

 .side-button {
     border-style: none;
     background-color: transparent;
     color: white;
     font-size: larger;
     display: flex;
     align-items: center;

 }

 .icons {
     width: 25px;
     height: 25px;
 }