.top-bar {
    background-color: gainsboro;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    padding: 0px 12px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}